@import 'http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'; 

/* Reset */
 

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* styles de base */

html {
	font-size: 62.5%;
}
body {
	background-color: #f5efe3;
	font-family:sans-serif;
	font-weight: 400;
	font-size: 1.6em;
	line-height: 1.6;
	color: #222;
}

a {
	text-decoration: none;
	color: #222;
}

h2 {
	line-height: 1.2;
	margin-bottom: 1.6rem;
}

.wrapper {
	max-width: 400px;
	margin: 50px auto;
	padding-left: 1em;
	padding-right: 1em;
}

/* Style general de la carte*/

.card {
	background-color: #fff;
	margin-bottom: 1.6rem;
	text-align: center;
}

.card_padding {
	padding: 1.6rem;
}
 
.card_title {
	margin-top: 20px;
}

.card_image {
	min-height: 100px;
	background-color: #eee;
}
	.card_image img {
		width: 100%;
		max-width: 100%;
		display: block;
	}

.card_contenu {
	position: relative;
}

/* card title */

.card_title {
	margin-top: 20px;
}

.product_title {
	font-size: 2em;
	font-weight: 700;
	text-transform: uppercase;
}
.descript {
	font-size: 1.7em;
}

.price {
 overflow: hidden;
 text-align: center;
}
.price:before,
.price:after {
 background-color: #dadada;
 content: "";
 display: inline-block;
 height: 2px;
 position: relative;
 vertical-align: 30%;
 width: 50%;
}
.price:before {
 margin-left: -50%;
}
.price:after {
 margin-right: -50%;
}

/* card footer */
.card_footer {
	overflow: hidden;
	padding-right: 6rem;
	padding-left: 6rem;
	padding-bottom: 1.6rem;
}

.price {
	font-size: 2em;
	font-weight: 700;
}

/* Bouton panier */

.card_cart {
	float: right;
	position: relative;
	margin-top: -102px;
}

.cart-icon {
	display: inline-block;
	width: 70px;
	height: 70px;
	line-height: 85px;
	text-align: center;
	border-radius: 50%;
	background-color: #84c24a;
	color: #fff;
	transition: all 0.3s ease;
	outline: 0;

	box-shadow: 
	  		0 2px 4px rgba(0,0,0, 0.12),
	    	0 2px 4px rgba(0,0,0, 0.24);
}
	.cart-icon:hover,
	.cart-icon:focus {
		box-shadow: 
	  		0 3px 6px rgba(0,0,0, 0.12),
	    	0 3px 6px rgba(0,0,0, 0.24);

	    -webkit-transform: scale(1.2);
	    -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    transform: scale(1.2);
	}

/* Systeme de notation */

	.star-rating {
	  font-family: 'FontAwesome';
	  margin: 10px auto;
	}
	.star-rating > fieldset {
	  border: none;
	  display: inline-block;
	}
	.star-rating > fieldset:not(:checked) > input {
	  position: absolute;
	  top: -9999px;
	  clip: rect(0, 0, 0, 0);
	}
	.star-rating > fieldset:not(:checked) > label {
	  float: right;
	  width: 1em;
	  padding: 0 .05em;
	  overflow: hidden;
	  white-space: nowrap;
	  cursor: pointer;
	  font-size: 200%;
	  color: #f4b40c;
	}
	.star-rating > fieldset:not(:checked) > label:before {
	  content: '\f006  ';
	}
	.star-rating > fieldset:not(:checked) > label:hover,
	.star-rating > fieldset:not(:checked) > label:hover ~ label {
	  color: #f4b40c;
	  text-shadow: 0 0 3px #f4b40c;
	}
	.star-rating > fieldset:not(:checked) > label:hover:before,
	.star-rating > fieldset:not(:checked) > label:hover ~ label:before {
	  content: '\f005  ';
	}
	.star-rating > fieldset > input:checked ~ label:before {
	  content: '\f005  ';
	}
	.star-rating > fieldset > label:active {
	  position: relative;
	  top: 2px;
	}	

	/* ajout de l'effet d'angle (slant) */	

	.skew {
	  background: #fff;
	  position: relative;
	  z-index: 1;
	}
	.skew:before, .skew:after {
	  background: inherit;
	  content: '';
	  display: block;
	  height: 50%;
	  left: 0;
	  position: absolute;
	  right: 0;
	  z-index: -1;
	  -webkit-backface-visibility: hidden;
	}
	.skew:before {
	  background: #fff;
	  top: -55px;
	  -webkit-transform: skewY(-5deg);
	          transform: skewY(-5deg);
	  -webkit-transform-origin: 100% 0;
	          transform-origin: 100% 0;
	}
	.skew:after {
	  bottom: 0;
	}

	/* Bordures et ombres */
	.border-top-radius { 
		border-top-left-radius: 2px;
		border-top-right-radius: 2px; 
	}

	.shadow {
	   box-shadow: 
	  		0 2px 15px rgba(0,0,0, 0.12),
	    	0 5px 20px rgba(0,0,0, 0.24);      
	}
